# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite and DB files
*.db
*.sqlite3
*.db-journal

# Virtual environment
.venv/
venv/
ENV/

# IDE/editor files
.vscode/
.idea/
*.suo
*.user

# OS files
.DS_Store
Thumbs.db
